@model (OnionDemo.MVC.Models.ProductViewModel , List<OnionDemo.MVC.Models.ApiCategoryGetResponseModel>)
@{
    string dmlType = Model.Item1.Id == Guid.Empty ? "C" : "U";
}
<h1> @(dmlType == "U" ? "Update" : "Create")</h1>

<hr />
<div class="row">
    <div class="col-md-4">        
        <form asp-action="Action">
            <input hidden name="Id" value="@Model.Item1.Id"/>
            <input hidden name="Created" value="@Model.Item1.Created" />
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Item1.Name" class="control-label"></label>
                    <input name="Name" value="@Model.Item1.Name" class="form-control" />
                    <span asp-validation-for="Item1.Name" class="text-danger"></span>
                </div>
                <label  class="control-label"> Category</label>
                    <select name="CategoryId" class="form-control">
                    @foreach (var item in Model.Item2)
                    {
                        if (item.Id == Model.Item1.CategoryId)
                        {
                          <option value="@item.Id" selected>@item.Name</option>
                        }
                        else
                        {
                           <option value="@item.Id">@item.Name</option>
                        }
                    }
                    </select>
            </div>            
            <div class="form-group">
                <label asp-for="Item1.Price" class="control-label"></label>
                <input name="Price" value="@Model.Item1.Price" class="form-control" />
                <span asp-validation-for="Item1.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item1.Description" class="control-label"></label>
                <input name="Description" value="@Model.Item1.Description" class="form-control" />
                <span asp-validation-for="Item1.Description" class="text-danger"></span>
            </div>            
         
            <div class="form-group">
                <input type="submit" value="@(dmlType == "U" ? "Update" : "Create")" class="btn btn-primary my-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
