@model (List<OnionDemo.MVC.Models.ProductViewModel>, List<OnionDemo.MVC.Models.ApiCategoryGetResponseModel>)

<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
    <link href="/css/model.css" rel="stylesheet"/>
</head>
<body>
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary mx-2 open-modal" data-modal-id="modal">New Product</button>

        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close" data-modal-id="modal">&times;</span>
                <partial name="_Action" model="(new ProductViewModel(), Model.Item2)" />
            </div>
        </div>        
       
    </div>
    <h1>Active Products</h1>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Category</th>            
            <th>Price</th>
            <th>Description</th>
            <th>Created</th>
            <th>Process</th>
        </tr>
        @foreach (var product in Model.Item1.Where(x => x.IsDel == false))
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Category.Name</td>
                <td>@product.Price</td>
                <td>@product.Description</td>
                <td>@product.Created</td>
                <td>
                    <button class="btn btn-primary mx-2 open-modal" data-modal-id="modal-@product.Id">Update</button>                

                    <div id="modal-@product.Id" class="modal">
                        <div class="modal-content">
                            <span class="close" data-modal-id="modal-@product.Id">&times;</span>
                            <partial name="_Action" model="(product, Model.Item2)" />
                        </div>
                    </div>

                </td>
                <td>
            <form asp-action="Disable" method="post" asp-controller="Product">
                <input name="id" hidden value="@product.Id" class="form-control" />
                <input type="submit" value="Disable" class="btn btn-primary" />
                    </form>
                </td>
            </tr>
        }
    </table>

    
    <h1>Disabled Products</h1>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Category</th>            
            <th>Price</th>
            <th>Description</th>
            <th>Created</th>
            <th>Process</th>
        </tr>
        @foreach (var product in Model.Item1.Where(x => x.IsDel == true).ToList())
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Category.Name</td>                        
                <td>@product.Price</td>
                <td>@product.Description</td>
                <td>@product.Created</td>
                <td>
                    <form asp-action="Enable" method="post" asp-controller="Product">
                <input name="id" hidden value="@product.Id" class="form-control" />
                        <input type="submit" value="Enable" class="btn btn-primary" />
                    </form>
                </td>
            </tr>
        }
    </table>
    <script src="/js/model.js"></script>
</body>
</html>